body {
	background: #f9e933;
	font-family: 'Heebo', sans-serif;
}

header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

header {
	background: #F5F5F5;
	overflow: auto;
}

header h1 {
	float: left;
	width: 570px;
}

header nav {
	float: right;
	width: 285px;
}

main {
	background: white;
	overflow: auto;
}

main .float-left {
	float: left;
	width: 570px;
}

main .float-right {
	float: right;
	width: 285px;
}

footer{
	overflow: auto;
}

footer .float-left {
	float: left;
	width: 570px;
}

footer .float-right {
	float: right;
	width: 285px;
}

h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

a:visited {
	color: tomato;
}

a:hover {
	text-decoration: underline;
}

img {
	padding: 20pt;
}

.faq-list {
	padding: 10pt;
	background-color: #ffffe6;
}

.faq-list li {
	font-size: larger;
}

ol li:before {
	counter-increment: counter-q +1;
 	content: "Q" counter(counter-q) ": ";
}

.answer {
	padding: 10pt;
	color: #404040;
}